*.csproj
FsMobileClient/FsMobileClient/bin/Debug/App.xbf
FsMobileClient/FsMobileClient/bin/Debug/App1.build.appxrecipe
FsMobileClient/FsMobileClient/bin/Debug/App1.xr.xml
FsMobileClient/FsMobileClient/bin/Debug/AppxManifest.xml
FsMobileClient/FsMobileClient/bin/Debug/FsMobileClient.build.appxrecipe
FsMobileClient/FsMobileClient/bin/Debug/FsMobileClient.xr.xml
FsMobileClient/FsMobileClient/bin/Debug/HttpService.pri
FsMobileClient/FsMobileClient/bin/Debug/MainPage.xbf
FsMobileClient/FsMobileClient/bin/Debug/RemoteControl.build.appxrecipe
FsMobileClient/FsMobileClient/bin/Debug/resources.pri
FsMobileClient/FsMobileClient/obj/Debug/App.g.cs
FsMobileClient/FsMobileClient/obj/Debug/App.g.i.cs
FsMobileClient/FsMobileClient/obj/Debug/App.xaml
FsMobileClient/FsMobileClient/obj/Debug/App.xbf
FsMobileClient/FsMobileClient/obj/Debug/App1.csproj.FileListAbsolute.txt
FsMobileClient/FsMobileClient/obj/Debug/App1.xr.xml
FsMobileClient/FsMobileClient/obj/Debug/FsMobileClient.csproj.FileListAbsolute.txt
FsMobileClient/FsMobileClient/obj/Debug/FsMobileClient.xr.xml
FsMobileClient/FsMobileClient/obj/Debug/MDIL/MDILFileList.xml
FsMobileClient/FsMobileClient/obj/Debug/MDIL/MDILXapCompileLog.txt
FsMobileClient/FsMobileClient/obj/Debug/MDILFileList.txt
FsMobileClient/FsMobileClient/obj/Debug/MSIL/AppxManifest.xml
FsMobileClient/FsMobileClient/obj/Debug/MainPage.g.cs
FsMobileClient/FsMobileClient/obj/Debug/MainPage.g.i.cs
FsMobileClient/FsMobileClient/obj/Debug/MainPage.xaml
FsMobileClient/FsMobileClient/obj/Debug/MainPage.xbf
FsMobileClient/FsMobileClient/obj/Debug/MultipleQualifiersPerDimensionFound.txt
FsMobileClient/FsMobileClient/obj/Debug/ProjectArchitectures.txt
FsMobileClient/FsMobileClient/obj/Debug/RemoteControl.csproj.FileListAbsolute.txt
FsMobileClient/FsMobileClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FsMobileClient/FsMobileClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FsMobileClient/FsMobileClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FsMobileClient/FsMobileClient/obj/Debug/XamlSaveStateFile.xml
FsMobileClient/FsMobileClient/obj/Debug/XamlTypeInfo.g.cs
FsMobileClient/FsMobileClient/obj/Debug/XamlTypeInfo.g.cs.backup
FsMobileClient/FsMobileClient/obj/Debug/layout.resfiles
FsMobileClient/FsMobileClient/obj/Debug/layout.resfiles.intermediate
FsMobileClient/FsMobileClient/obj/Debug/pri.resfiles
FsMobileClient/FsMobileClient/obj/Debug/pri.resfiles.intermediate
FsMobileClient/FsMobileClient/obj/Debug/priconfig.xml
FsMobileClient/FsMobileClient/obj/Debug/priconfig.xml.intermediate
FsMobileClient/FsMobileClient/obj/Debug/qualifiers.txt
FsMobileClient/FsMobileClient/obj/Debug/qualifiers.txt.intermediate
FsMobileClient/FsMobileClient/obj/Debug/resources.resfiles
FsMobileClient/FsMobileClient/obj/Debug/resources.resfiles.intermediate
*.sln
[Bb]in/
[Oo]bj/
*.config
**/packages/*
*.json~
